
.btn {
    transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
    transform: scale(1.05);
}


.btn-primary:hover {
    background-color: #004aad;
}

.btn-danger:hover {
    background-color: #c82333;
}
